In [1]:
#import libraries
import pandas as pd
import numpy as np

import wget

np.random.seed(42)

Question 1: What is the version uof Numpy installed

In [2]:
#check the version of Numpy installed 
np.__version__

'1.21.5'

In [3]:
#download the csv file directly from the webpage
# url = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'
# file_ = wget.download(url)

In [4]:
#read the csv file into pandas
price_df = pd.read_csv('data.csv')
price_df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

Question 2: How many records are in the dataset?

In [5]:
#use the df.shape funtion to get the number of records in the dataset
num_records = price_df.shape[0]
print('The dataset has {} records'.format(num_records))

The dataset has 11914 records

Question 3: Who are the most frequent car manufacturers (top-3) according to the dataset?

In [6]:
price_df.Make.value_counts().to_frame()[:3]

            Make
Chevrolet   1123
Ford         881
Volkswagen   809

Question 4: What's the number of unique Audi car models in the dataset?

In [7]:
audi_model = price_df.query('Make == "Audi"')
uniq_model = audi_model.Model.nunique()
print('Number of unique Audi car models is: {}'.format(uniq_model))

Number of unique Audi car models is: 34

Question 5: How many columns in the dataset have missing values?

In [8]:
price_df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

Question 6:

>* Find the median value of "Engine Cylinders" column in the dataset.
>* Next, calculate the most frequent value of the same "Engine Cylinders".
>* Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
>* Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

In [9]:
eng_cyl_median = price_df['Engine Cylinders'].median()
eng_cyl_mode = price_df['Engine Cylinders'].mode()

price_df['Engine Cylinders'].fillna(eng_cyl_mode, inplace = True)
new_median_value = price_df['Engine Cylinders'].median()

print('Initial Median Value: {}'.format(eng_cyl_median))
print('New Median Value: {}'.format(new_median_value))

Initial Median Value: 6.0
New Median Value: 6.0

Question 7:
>* Select all the "Lotus" cars from the dataset.
>* Select only columns "Engine HP", "Engine Cylinders".
>* Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
>* Get the underlying NumPy array. Let's call it X.
>* Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
>* Invert XTX.
>* Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
>* Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
>* What's the value of the first element of w?

In [10]:
lotus_cars_df = price_df[price_df.Make == 'Lotus'][['Engine HP', 'Engine Cylinders']]
lotus_cars_df.drop_duplicates(inplace=True)

In [11]:
#get the underlying NumPy array of the Lotus cars
X = np.array(lotus_cars_df)
#compute the transpose of the Numpy array
X_transpose = X.T
# Compute matrix-matrix multiplication between the transpose of X and X
XTX = X_transpose.dot(X)
XTX_inverse = np.linalg.inv(XTX)
XTX_inverse

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [12]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
w = XTX_inverse.dot(X_transpose).dot(y)
print('The value of the first element of W is: {}'.format(w[0].round(4)))

The value of the first element of W is: 4.5949